<h1>Launches</h1>

<div *ngIf="isLoading" class="full-width screen-height flex-row">
  <mat-spinner></mat-spinner>
</div>

<div class="example-container" *ngIf="!isLoading">
  <form #f="ngForm" class="example-container" (submit)="onSubmit(f)">
      <mat-form-field>
        <input matInput type="text" placeholder="Year launched" [(ngModel)]="yearLaunchedText" name="yearLaunched">
      </mat-form-field>
      <label>
          Launch status :
          <input type="radio" name="radioLaunchSuccess" [(ngModel)]="radioLaunchSuccessInput" [value]="true">
          Success
          <input type="radio" name="radioLaunchSuccess" [(ngModel)]="radioLaunchSuccessInput" [value]="false">
          Failed
          <input type="radio" name="radioLaunchSuccess" [(ngModel)]="radioLaunchSuccessInput" [value]="undefined">
          All
      </label>
      <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<mat-card *ngIf="!isLoading">
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item
      *ngFor="let launch of launches"
      [routerLink]="['/launches', launch.flight_number]"
      >
        <img matListAvatar src="{{ launch.links.mission_patch_small }}" alt="Mission patch">
        <h4 matLine>
          {{ launch.mission_name }}
        </h4>
        <p matLine>
          Success:
          <span *ngIf="launch.launch_success" class="fa fa-check-circle color-primary"></span>
          <span *ngIf="!launch.launch_success" class="fa fa-times-circle color-accent"></span>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
