<h1>Launches</h1>

<div class="example-container">
  <form #f="ngForm" class="example-container" (submit)="onSubmit(f)">
    <div class="full-width flex-row justify-content-space-around">
      <mat-form-field>
        <input matInput type="text" placeholder="Year launched" [(ngModel)]="yearLaunchedText" name="yearLaunched">
      </mat-form-field>
      <div class="flex-colum">
        <p class="full-width text-center launch-radio-label">Launch status</p>
        <mat-radio-group class="flex-row full-width justify-content-space-around">
          <mat-radio-button (change)="radioChange(true)" [checked]="radioLaunchSuccessInput == true"  value="true">Success</mat-radio-button>
          <mat-radio-button (change)="radioChange(false)" [checked]="radioLaunchSuccessInput == false" value="false">Failed</mat-radio-button>
          <mat-radio-button (change)="radioChange('all')" [checked]="radioLaunchSuccessInput == undefined" value="undefined">All</mat-radio-button>
        </mat-radio-group>
      </div>
      <button type="submit" [disabled]="isLoading" mat-raised-button color="accent">Submit</button>
    </div>
  </form>
</div>

<div *ngIf="isLoading" class="full-width screen-height flex-row">
  <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!isLoading">
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item
      *ngFor="let launch of launches"
      [routerLink]="['/launches', launch.flight_number]"
      >
        <img matListAvatar src="{{ launch.links.mission_patch_small }}" alt="Mission patch">
        <h4 matLine>
          {{ launch.mission_name }}
        </h4>
        <p matLine>
          Success:
          <span *ngIf="launch.launch_success" class="fa fa-check-circle color-primary"></span>
          <span *ngIf="!launch.launch_success" class="fa fa-times-circle color-accent"></span>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>
