<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="main-drawer" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/companyInfo">Company info</a>
        <a mat-list-item routerLink="/launches">Launches</a>
        <a mat-list-item routerLink="/capsules">Capsules</a>
      </mat-nav-list>
  </mat-drawer>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

