<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="main-drawer" mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/companyInfo">Company info</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="/rockets">Rockets</a>
      </mat-nav-list>
  </mat-drawer>

  <div>
    <button type="button" mat-button (click)="drawer.toggle()">
      Menu
    </button>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

