<h1>Launchpads</h1>

<div *ngIf="isLoading" class="full-width screen-height flex-row">
  <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!isLoading">
  <mat-card-content>
    <mat-nav-list>
      <mat-list-item *ngFor="let launchpad of launchpads">
          <a matLine [routerLink]="['/launchpads', launchpad.id]">
            <b>{{ launchpad.full_name }}</b>
          </a>

          <div matLine>
              {{ launchpad.location.region }} - {{ launchpad.location.name }}
          </div>


          <span>
            <mat-chip-list>
              <mat-chip *ngIf="launchpad.status == 'active'" color="primary" selected="true">{{ launchpad.status }}</mat-chip>
              <mat-chip *ngIf="launchpad.status != 'active'" color="warn" selected="true">{{ launchpad.status }}</mat-chip>
            </mat-chip-list>
          </span>

          <mat-divider matLine></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
</mat-card>