/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.align-start {
    align-self: flex-start;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.margin-auto {
    margin: auto;
}

.screen-height {
    height: calc(95vh - 36px);
}

