/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.align-start {
    align-self: flex-start;
}

.justify-content-start {
    justify-content: flex-start;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.full-height {
    height: 100%;
}

.margin-auto {
    margin: auto;
}

.screen-height {
    height: calc(95vh - 36px);
}

.text-center {
    text-align: center;
}

.card-header-image {
    background-size: cover;
}

.color-primary {
    color: #3f51b5;
}

.color-accent {
    color: #ff4081
}
